<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>wis</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>
    listener.ContextListener
    </listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>action.GrouperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>  
  <filter>
    <filter-name>Join</filter-name>
    <filter-class>filter.JoinFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Join</filter-name>
    <url-pattern>/join.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AddressSetting</filter-name>
    <filter-class>filter.AddressSettingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AddressSetting</filter-name>
    <url-pattern>/setting.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AddSchedule</filter-name>
    <filter-class>filter.AddScheduleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AddSchedule</filter-name>
    <url-pattern>/addschedule.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CommentAdd</filter-name>
    <filter-class>filter.CommentAddFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CommentAdd</filter-name>
    <url-pattern>/addcomment.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CommentShow</filter-name>
    <filter-class>filter.CommentShowFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CommentShow</filter-name>
    <url-pattern>/showcomment.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Entry</filter-name>
    <filter-class>filter.EntryFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Entry</filter-name>
    <url-pattern>/entry.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FriendCalendar</filter-name>
    <filter-class>filter.FriendCalendarFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FriendCalendar</filter-name>
    <url-pattern>/friendcalendar.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FriendSchedule</filter-name>
    <filter-class>filter.FriendsScheduleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FriendSchedule</filter-name>
    <url-pattern>/friendschedule.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Login</filter-name>
    <filter-class>filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Login</filter-name>
    <url-pattern>/login.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>MemberDelete</filter-name>
    <filter-class>filter.MemberDeleteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MemberDelete</filter-name>
    <url-pattern>/memberdelete.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>OwnerCheck</filter-name>
    <filter-class>filter.OwnerCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>OwnerCheck</filter-name>
    <url-pattern>/ownercheck.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Request</filter-name>
    <filter-class>filter.RequestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Request</filter-name>
    <url-pattern>/request.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ScheduleModify</filter-name>
    <filter-class>filter.ScheduleModifyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ScheduleModify</filter-name>
    <url-pattern>/schedulemodify.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ScheduleOut</filter-name>
    <filter-class>filter.ScheduleOutFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ScheduleOut</filter-name>
    <url-pattern>/scheduleout.do</url-pattern>
  </filter-mapping>  
  <filter>
    <filter-name>MemberModify</filter-name>
    <filter-class>filter.ModifyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MemberModify</filter-name>
    <url-pattern>/membermodify.do</url-pattern>
  </filter-mapping> 
  <filter>
    <filter-name>EnterRequest</filter-name>
    <filter-class>filter.EnterRequestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EnterRequest</filter-name>
    <url-pattern>/enter_request.do</url-pattern>
  </filter-mapping> 
  <filter>
    <filter-name>AddFriend</filter-name>
    <filter-class>filter.FriendAddFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AddFriend</filter-name>
    <url-pattern>/addfriend.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FriendRequest</filter-name>
    <filter-class>filter.FriendRequestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FriendRequest</filter-name>
    <url-pattern>/friendrequest.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AcceptEnterRequest</filter-name>
    <filter-class>filter.AcceptEnterRequestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AcceptEnterRequest</filter-name>
    <url-pattern>/accept_enter_request.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CancelEnterRequest</filter-name>
    <filter-class>filter.CancelEnterRequestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CancelEnterRequest</filter-name>
    <url-pattern>/cancel_enter_request.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UpdateMyEntrySchedule</filter-name>
    <filter-class>filter.UpdateMyEntryScheduleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UpdateMyEntrySchedule</filter-name>
    <url-pattern>/update_myentry_schedule.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>pushSetting</filter-name>
    <filter-class>filter.PushSettingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>pushSetting</filter-name>
    <url-pattern>/pushsetting.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>cnt</filter-name>
    <filter-class>filter.FriendScheduleEntryAndCommentInfoFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>cnt</filter-name>
    <url-pattern>/entrycommentcnt.do</url-pattern>
  </filter-mapping>
</web-app>